.cart {
  &__main {
    height: 100%;
    max-height: calc(100vh - var(--cart-aside-summary-height));
    overflow-y: auto;
    width: auto;
    z-index: 10;
    color: #fff !important;
  }

  &.with-discount {
    max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
  }
  &__line {
    display: flex;
    padding: 0.75rem 0;

    &.cart__summary-page {
      position: relative;
    }

    &--quantiy {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        border: none;
        background-color: #fff;
        border-radius: 8px;
      }
    }

    & img {
      height: 100%;
      display: block;
      margin-right: 0.75rem;
    }
    .cart-discount {
      align-items: center;
      display: flex;
      margin-top: 0.25rem;
    }

    &__subtotal {
      align-items: center;
      display: flex;
    }
  }

  &__summary-aside {
    background: white;
    border-top: 1px solid var(--color-dark);
    bottom: 0;
    padding-top: 0.75rem;
    position: absolute;
    width: calc(var(--aside-width) - 40px);
    background: #000;
  }

  &__remove-item {
    background-color: rgb(255, 0, 0) !important;
    color: #fff;
  }
}
