.products-grid {
  padding-top: 5rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: scale 0.7s;

  &:hover {
    scale: 1.1;
  }

  & img {
    height: auto;

    height: 20rem;
    width: auto !important;
  }
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  margin-top: 10rem;
}
@media (min-width: 45em) {
  .product {
    grid-template-columns: auto auto;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-images {
  display: grid;
  grid-gap: 1rem;
}

.product-image {
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;

  animation: bouncingY 5s infinite;

  & img {
    height: 100%;
    width: auto !important;
  }
}

.product-main {
  align-self: start;
  position: -webkit-sticky;
  position: sticky;
  top: 6rem;

  background-color: rgba($color-main, 0.3);

  border-radius: 0.8rem;

  padding: 2rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

.product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  &__button--add {
    border: none;
    padding: 1rem;
    transition: filter 0.3s;

    &:hover {
      filter: opacity(0.9);
    }
  }
}
