@-webkit-keyframes bouncing {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(5%);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes bouncing {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(5%);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

@-webkit-keyframes bouncingY {
  0% {
    transform: translateY(-2%);
  }
  50% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(-2%);
  }
}

@keyframes bouncingY {
  0% {
    transform: translateY(-2%);
  }
  50% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(-2%);
  }
}
