:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 2.5px;
  --grid-item-width: 15rem;
  --header-height: 5rem;
  --color-dark: #000;
  --color-light: #fff;
  --color-warning: red;
  --color-main: #bbf2db;
}

$color-main: #bbf2db;
